{% extends 'base.html' %}
{% block content %}

FOR TESTING ONLY:
{{ records.timeSheet_code }} <!--- HERE FOR TESTING ---->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div align="left" class="col-md-5">
					<nobr><span>img:Print &nbsp &nbsp img:Leave </span></nobr>
					<br>
					<br>

					<br>
					<nobr><span> Employee:  {{ user.last_name}}, {{ user.first_name }}</span></nobr>
					<br>
					Employee ID: {{ empID.employeeID }}
					<br>
					Class: {{ empID.laborType }}
					<br>
					Date Range: {{ records.startDate }} - {{ records.endDate }}
					<br>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-3">
					 <span>Status:</span> {{ records.status }} </span>
				</div>
			</div> 
			<br>
			<br>

			<div style="float:left">
				<table class="table table-condensed table-bordered">
				<thead>

						<th nowrap>
							Type
							<br>
							&nbsp
						</th>
						<th nowrap>
							Charge Number
							<br>
							&nbsp
						</th>
						<th nowrap>
							Unit
							<br>
							&nbsp
						</th>

						{% for x in rangeofdates %}
							<th>{{ x|date:"D" }}<br>{{ x|date:"n/j" }}</th>
						{% endfor %}
						<th>{{ records.endDate|date:"D" }}<br>{{ records.endDate|date:"n/j" }}
						</th>

				</thead>

				<tbody>
						{% for x in final_result.lines  %}
							<tr>
								<td> {{ x.timeSheet_line_code }}</td>
								<td> {{ x.taskOrder_number }}</td>
								<td> {{ x.unit }}</td>
								{% for g in x.cells %}
									<td><div contenteditable="true"> <input type="text" name="hours" size="2" maxlength="4" value={{ g.hours }}> </div> </td>
								{% endfor %}
							</tr>
						{% endfor %}
						<form action={{ records.timeSheet_code }} method="post" class="form-horizontal">
							<button value="saving" class="btn btn-default">Save</button>
						</form>
				</tbody>
				</table>
		</div>

<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
<div>

</div>

			<br>
			<br>
			<br>
			<br>
			<br>

			<div class="row">
				<div class="col-md-2">
					<nobr> Employee Signature:
						<span style="background-color: lightgrey; padding: 5px;"> PLACEHOLDER </span>
					</nobr>
				</div>
				<br>
				<div class="col-md-2" style="padding:0.9em">
					<nobr> Approval Signature:
						<span style="background-color: lightgrey; padding: 5px;"> PLACEHOLDER NAME </span>
					</nobr>
				</div>
				<div class="col-md-8">
				</div>
			</div>
		</div>
	</div>
</div>



</tbody>
</table>









<div>
  <form action="/interview/" method="post">{% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
      {{ form.as_p }}
    {% endfor %}
    <input type="submit" value="Submit Questions" />
  </form>
</div>
{% endblock %}





